@{
    ViewBag.Title = "Some error occurred";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <!--  CONTENT   -->
    <div id="page-header">
        <div class="row">
            <div class="span12 whitebg">
                <h1>SOME ERROR OCCURRED</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3 class="headline">
                <span>Error occurred</span>
            </h3>
        </div> <br />

        <div class="span12">
            <p>There was an error processing the request. Please try again. </p>
            
            <p>If the problem persists, please help us by contacting the administrator <a href="/contact">here</a></p>

        </div>
    </div>
</div>