
@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <!--  CONTENT   -->
    <div id="page-header">
        <div class="row">
            <div class="span12 whitebg">
                <h1>PAGE NOT FOUND</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h3 class="headline">
                <span>Page Not Found</span>
            </h3>
        </div> <br />

        <div class="span12">
            <p>The requested page was not found. Please check the URL.</p>

        </div>
    </div>
</div>